* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'General Sans';
    scroll-behavior: smooth;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #fff;
}

#main {
    width: 100%;
    overflow: hidden;
    position: relative;
}


nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.5vw 3vw;
    background-color: #000;
    position: fixed;
    top: 0;
    z-index: 99;
}

nav h4:nth-child(1) {
    font-size: 1vw;
    font-weight: 500;
}

nav h4:nth-child(2) {
    font-size: 0.8vw;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
}

nav h4:nth-child(2) span {
    font-size: 0.7vw;
    font-weight: 500;
    opacity: 0.8;
}

nav h4:nth-child(2)::before {
    content: "";
    width: 0%;
    height: 1.5px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: auto;
    display: block;
    transition: 0.3s ease;
}

nav h4:nth-child(2):hover::before {
    width: 100%;
}

#plug1 {
    margin-top: 20vw;
    padding: 0 3vw;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 1vw;
}

#plug1 h1 {
    line-height: 1;
    font-size: 10vw;
    font-weight: 500;
    opacity: 0.7;
}

#plug1 p {
    font-size: 1.1vw;
    margin-bottom: 0.7vw;
    font-weight: 500;
}

#plug2 {
    width: 100%;
    padding: 0 3vw 6vw 3vw;
    position: relative;
}

#plug2 #imagediv {
    width: 100%;
    height: 100%;
    margin-bottom: 3vw;
}

#plug2 #imagediv img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#content {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

#content #left {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}

#content #left h2 {
    letter-spacing: 1px;
    font-size: 0.9vw;
    font-weight: 500;
}

#content #right {
    width: 45%;
}

#content #right h3 {
    font-size: 1vw;
    color: #A3A3A3;
    font-weight: 400;
    margin-bottom: 0.5vw;
}

#content #right p {
    font-size: 1vw;
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 1.5vw;
}

#content #right .btn {
    border: 1px solid #fff;
    padding: 0.3vw 1.2vw;
    border-radius: 3vw;
    color: #fff;
    text-decoration: none;
    font-size: 1vw;
    transition: 0.5s ease;
}


#content #right .btn:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid #fff;
}

.cover {
    width: 100%;
    height: 120vh;
    background-color: #0E0E0E;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coverdiv {
    width: 85%;
    height: 70%;
}

#plug3 .coverdiv video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

#plug4 {
    width: 100%;
    padding: 3vw 3vw 10vw 3vw;
    display: flex;
    align-items: start;
    justify-content: space-between
}

#plug4 #left {
    width:40%;
}

#plug4 #left h1 {
    margin-top: 2vw;
    font-size: 5vw;
    font-weight: 500;
    opacity: 0.7;
    margin-bottom: 2vw;
}

#plug4 #left h6 {
    color: #A3A3A3;
    font-size: 1vw;
    font-weight: 400;
}

#plug4 #left p {
    font-weight: 400;
    font-size: 0.9vw;
}

#plug4 #right {
    margin-top: 8vw;
    width: 45%;
}

#plug4 #right h6 {
    color: #A3A3A3;
    font-weight: 300;
    font-size: 0.9vw;
    margin-bottom: 0.2vw;
}

#plug4 #right p {
    font-size: 0.9vw;
    font-weight: 300;
    margin-bottom: 2vw;
}

#plug5 {
    width: 100%;
    height: 120vh;
    background-color: #0E0E0E;
    display: flex;
    align-items: center;
    justify-content: center;
}

#plug5 #videodiv {
    width: 85%;
    height: 70%;
}

#plug5 #videodiv video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


#plug6 {
    width: 100%;
    padding: 3vw 3vw 5vw 3vw;
    display: flex;
    align-items: start;
    justify-content: space-between
}

#plug6 #left {
    width:40%;
}

#plug6 #left h1 {
    margin-top: 2vw;
    font-size: 5vw;
    font-weight: 500;
    opacity: 0.7;
    margin-bottom: 2vw;
}

#plug6 #left h6 {
    color: #A3A3A3;
    font-size: 1vw;
    font-weight: 400;
}

#plug6 #left p {
    font-weight: 400;
    font-size: 0.9vw;
}

#plug6 #right {
    margin-top: 8vw;
    width: 45%;
}

#plug6 #right h6 {
    color: #A3A3A3;
    font-weight: 300;
    font-size: 0.9vw;
    margin-bottom: 0.2vw;
}

#plug6 #right p {
    font-size: 0.9vw;
    font-weight: 300;
    margin-bottom: 2vw;
}

#plug7 {
    width: 100%;
    background-color: #0E0E0E;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0vw 3vw;
    justify-content: space-between;
}

#plug7 #fast {
    height: 100vh;
    width: 49%;
    position: relative;
    background-color: #0E0E0E;
}

#plug7 #fast img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

#plug7 #slow {
    height: 100vh;
    width: 49%;
    position: relative;
    background-color: #0E0E0E;
}

#plug7 #slow img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

#plug8 {
    margin-top: 10vw;
    width: 100%;
    background-color: #fff;
    padding: 5w 8vw;
    position: relative;
}

#plug8 video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#plug9 {
    margin-top:12vw;
    width: 100%;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

#plug9 img {
    width: 100%;
    scale: 1.2;
    height: 100%;
    object-fit: cover;
}

#plug10 {
    width: 100%;
    background-color: red;
    display: grid;
}