* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    font-family: 'General Sans';
    scroll-behavior: smooth;
}

#cursor {
    width: 0.8vw;
    height: 0.8vw;
    background-color: #fff;
    border-radius: 50%;
    z-index: 15;
    position: absolute;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #fff;
}

#main {
    width: 100%;
    overflow: hidden;
    position: relative;
}


nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.5vw 3vw;
    background-color: #000;
    position: fixed;
    top: 0;
    z-index: 99;
}

nav h4:nth-child(1) {
    font-size: 1vw;
    font-weight: 500;
}

nav h4:nth-child(2) {
    font-size: 0.8vw;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
}

nav h4:nth-child(2) span {
    font-size: 0.7vw;
    font-weight: 500;
    opacity: 0.8;
}

nav h4:nth-child(2)::before {
    content: "";
    width: 0%;
    height: 1.5px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: auto;
    display: block;
    transition: 0.3s ease;
}

nav h4:nth-child(2):hover::before {
    width: 100%;
}

#ixp1 {
    margin-top: 20vw;
    padding: 0 3vw;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 1vw;
}

#ixp1 h1 {
    line-height: 1;
    font-size: 10vw;
    font-weight: 500;
    opacity: 0.7;
}

#ixp1 p {
    font-size: 1.1vw;
    margin-bottom: 0.7vw;
    font-weight: 500;
}

#ixp2 {
    width: 100%;
    padding: 0 3vw 6vw 3vw;
    position: relative;
}

#ixp2 #videodiv {
    width: 100%;
    height: 100%;
    margin-bottom: 3vw;
}

#ixp2 #videodiv video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#content {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

#content #left {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}

#content #left h2 {
    letter-spacing: 1px;
    font-size: 0.9vw;
    font-weight: 500;
}

#content #right {
    width: 45%;
}

#content #right h3 {
    font-size: 1vw;
    color: #A3A3A3;
    font-weight: 400;
    margin-bottom: 0.5vw;
}

#content #right p {
    font-size: 1vw;
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 1.5vw;
}

#content #right .btn {
    border: 1px solid #fff;
    padding: 0.3vw 1.2vw;
    border-radius: 3vw;
    color: #fff;
    text-decoration: none;
    font-size: 1vw;
    transition: 0.5s ease;
}


#content #right .btn:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid #fff;
}

.cover {
    width: 100%;
    height: 120vh;
    background-color: #0E0E0E;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coverdiv {
    width: 85%;
    height: 70%;
}

#ixp3 .coverdiv video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

#ixp4 {
    width: 100%;
    padding: 3vw 3vw 5vw 3vw;
    display: flex;
    align-items: start;
    justify-content: space-between
}

#ixp4 #left {
    width:40%;
}

#ixp4 #left h1 {
    margin-top: 2vw;
    font-size: 5vw;
    font-weight: 500;
    opacity: 0.7;
    margin-bottom: 2vw;
}

#ixp4 #left h6 {
    color: #A3A3A3;
    font-size: 1vw;
    font-weight: 400;
}

#ixp4 #left p {
    font-weight: 400;
    font-size: 0.9vw;
}

#ixp4 #right {
    margin-top: 8vw;
    width: 45%;
}

#ixp4 #right h6 {
    color: #A3A3A3;
    font-weight: 300;
    font-size: 0.9vw;
    margin-bottom: 0.2vw;
}

#ixp4 #right p {
    font-size: 0.9vw;
    font-weight: 300;
    margin-bottom: 2vw;
}

#ixp5 {
    width: 100%;
    height: 110vh;
    background-color: #0C0B1F;
    display: flex;
    align-items: center;
    justify-content: center;
}

#ixp5 #videodiv1 {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#ixp5 #videodiv1 video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#ixp6 {
    width: 100%;
    padding: 3vw 3vw 5vw 3vw;
    display: flex;
    align-items: start;
    justify-content: space-between
}

#ixp6 #left {
    width:55%;
}

#ixp6 #left h1 {
    margin-top: 2vw;
    font-size: 4.5vw;
    font-weight: 500;
    opacity: 0.7;
    margin-bottom: 2vw;
}

#ixp6 #left h6 {
    color: #A3A3A3;
    font-size: 1vw;
    font-weight: 400;
}

#ixp6 #left p {
    width: 70%;
    font-weight: 400;
    font-size: 0.9vw;
}

#ixp6 #right {
    margin-top: 10vw;
    width: 40%;
}

#ixp6 #right h6 {
    color: #A3A3A3;
    font-weight: 300;
    font-size: 0.9vw;
    margin-bottom: 0.2vw;
}

#ixp6 #right p {
    font-size: 0.9vw;
    font-weight: 300;
    margin-bottom: 2vw;
}

#ixp7 {
    width: 100%;
    height: 100vh;
    background-color: #0E0E0E;
    position: relative;
}

#ixp7 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

#ixp8 {
    width: 100%;
    padding: 3vw 3vw 5vw 3vw;
    display: flex;
    align-items: start;
    justify-content: space-between
}

#ixp8 #left {
    width:55%;
}

#ixp8 #left h1 {
    margin-top: 2vw;
    font-size: 4.5vw;
    font-weight: 500;
    opacity: 0.7;
    margin-bottom: 2vw;
}

#ixp8 #left h6 {
    color: #A3A3A3;
    font-size: 1vw;
    font-weight: 400;
}

#ixp8 #left p {
    width: 70%;
    font-weight: 400;
    font-size: 0.9vw;
}

#ixp9 {
    width: 100%;
    position: relative;
    height: 120vh;
    padding: 5vw 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0E0E0E;
}

#ixp9 img {
    height: 100%;
    object-fit: cover;
}

#ixp10 {
    width: 100%;
    height: 220vh;
    display: flex;
    gap: 2vw;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.row {
    z-index: 10;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

.row .box {
    width: 49%;
    background-color:#0E0E0E;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row .box img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.row .box video {
    width: 100%;
    object-fit: cover;
}

#ixp11 {
    z-index: 99;
    width: 100%;
    padding: 10vw 15vw 10vw 3vw;
}

#ixp11 h3 {
    font-size: 1vw;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#ixp11 .elem  {
    width: 100%;
    display: block;
    padding: 1vw 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #A3A3A3;
}

#ixp11 .elem h1 {
    font-size: 8vw;
    font-weight: 500;
    opacity: 0.7;
    text-transform: uppercase;
}

#ixp11 .elem p {
    font-size: 1.1vw;
    font-weight: 500;
    color: #fff;
}

footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 0 3vw;
}

footer #first {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    text-transform: uppercase;
}

footer #first h4 {
    font-size: 0.9vw;
    font-weight: 500;
}

footer #second {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

footer #second h5 {
    font-size: 0.9vw;
    text-transform: uppercase;
    font-weight: 500;
}